In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Sample Media Spend Data.csv')
print(df.shape)
df.head()

(3051, 10)

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
0,A,1/6/2018,392,422,408,349895.0107,73580,12072,682,59417
1,A,1/13/2018,787,904,110,506270.2176,11804,9499,853,56806
2,A,1/20/2018,81,970,742,430042.1538,52232,17048,759,48715
3,A,1/27/2018,25,575,65,417745.6658,78640,10207,942,72047
4,A,2/3/2018,565,284,295,408505.8012,40561,5834,658,56235

In [11]:
import pandas as pd
# Cargar el archivo CSV
file_path = 'C:/Users/Andy/Documents/CodingDojo/Clase_2/Sample Media Spend Data.csv'
data = pd.read_csv(file_path)

In [20]:
from IPython.display import display

# Ordenar el dataset de mayor a menor por 'Paid_Views'
data_sorted = data.sort_values(by='Paid_Views', ascending=False)

# Mostrar el dataset ordenado como tabla
print("Dataset ordenado por 'Paid_Views' de mayor a menor:")
display(data_sorted.head(10))  # Muestra las primeras 10 filas como tabla

Dataset ordenado por 'Paid_Views' de mayor a menor:

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
187,B,2019-06-08,518190,118035,4258513,1.787703e+06,1080867,71643,635057,503836
2447,V,2019-06-08,361081,85635,1913726,8.022221e+05,462175,33544,446589,214182
195,B,2019-08-03,321082,243245,2300864,1.469535e+06,448841,78338,563991,540922
188,B,2019-06-15,320747,118357,3169725,1.921345e+06,1056987,71551,438477,718039
2455,V,2019-08-03,258535,178550,1035486,6.591208e+05,216961,26616,436507,251106
203,B,2019-09-28,252545,97645,4773201,2.012938e+06,6830232,80691,349495,644279
2448,V,2019-06-15,237467,89611,1559180,8.621249e+05,576020,38589,326692,286076
526,E,2019-06-08,210475,55872,2204860,9.492613e+05,526630,83107,265446,301405
1656,O,2019-06-08,200144,42011,2166105,1.003027e+06,411041,30316,241896,219228
217,B,2020-01-04,195738,120869,2542278,2.254585e+06,696406,55778,315667,1076531